.title {
    text-align: center;
    font-family: 'Dancing Script',cursive;
    color: floralwhite;
    font-size: 15vw;
}

html, body{
margin: 0;
height: 100%;
width: 100%;
    
}

body{
    background: rgb(148,216,226);
    background: linear-gradient(0deg, rgba(148,216,226,1) 0%, rgba(203,104,187,1) 45%, rgba(95,58,105,1) 100%);
    background-size: cover;
}
