.logo{
    /*width: 17vw;*/
    width: 170px
}

html, body{
    margin: 0;
    height: 500%;
    width: 100%; 
}

body{
    background: rgb(148,216,226);
    background: linear-gradient(0deg, rgba(148,216,226,1) 0%, rgba(203,104,187,1) 45%, rgba(95,58,105,1) 100%);
    background-size: cover;
}

/*.section {
    position: relative;
    overflow: hidden;
    width: 100%;
}*/

/*gotten from css website so try out*/
.icon-bar {
  width: 90px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 12px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: rgb(148,216,226); /* Add an active/current color */
}



.title {
    text-align: center;
    font-family: 'Dancing Script',cursive;
    color: floralwhite;
    font-size: 15vw;
}

.title:hover
{ 
    font-size: 20vw;
}






.head1

{
    color: floralwhite;
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
	text-align: center
}
  
.h2 
 {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
    text-align: center
 }
  
.h3
 {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
	text-align: center
 }
 
.h4
 {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
    text-align: center
 }