html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    
}

body{
    background: linear-gradient(0deg, rgba(148,216,226,1) 0%, rgba(203,104,187,1) 45%, rgba(95,58,105,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}


.title {
    text-align: center;
    font-family: 'Dancing Script',cursive;
    color: floralwhite;
    font-size: 15vw;
}

.title:hover
{ 
    font-size: 20vw;
}


.head1

{
    color: floralwhite;
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
	text-align: center
}
  
.h2 
 {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
    text-align: center
 }
  
.h3
 {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
	text-align: center
 }
 
.h4
 {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
    text-align: center
 }